List((
    texture_width: 128, 
    texture_height: 252,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 64,
            height: 35,
        ),
        (
            x: 0,
            y: 36,
            width: 64,
            height: 35,
        ),
        (
            x: 0,
            y: 72,
            width: 64,
            height: 35,
        ),
        (
            x: 0,
            y: 108,
            width: 64,
            height: 35,
        ),
        (
            x: 0,
            y: 144,
            width: 64,
            height: 35,
        ),
        (
            x: 0,
            y: 180,
            width: 64,
            height: 35,
        ),
        (
            x: 0,
            y: 216,
            width: 64,
            height: 35,
        ),




        (
            x: 65, // warrior or something
            y: 0,
            width: 64,
            height: 35,
        ),
    ],
))