(
  axes: {
      "updown": Emulated(
          pos: Key(S),
          neg: Key(W)
      ),
      "leftright": Emulated(
          pos: Key(A),
          neg: Key(D)
      )
  },

  actions: {
      "speed_up" : [[Key(LShift)]],
      "build" : [[Key(B)]],
      "extend" : [[Key(LControl)]],

  },
)
